		</div>
		<footer class="footer">
			<div class="footer-top">
				<div class="container">
					<div class="footer-wrap">
						<div class="item">
							<div class="main-text">
								<h2>
									<span class="accent">Премиум</span>
									<span>контент для взрослых!</span>
								</h2>
							</div>




							<div class="description">
								<p>
									Ищете качественный и разнообразный контент для взрослых? Наш сайт предлагает эксклюзивные видео и фотографии, которые удовлетворят ваши самые смелые фантазии. Присоединяйтесь и наслаждайтесь премиум контентом без ограничений!
								</p>
								<p>
									Мы обновляем нашу коллекцию ежедневно, чтобы вы всегда находили что-то новое и увлекательное. Удобный интерфейс и высокое качество материалов гарантируют, что ваше время на нашем сайте будет незабываемым. Откройте для себя мир бесконечного удовольствия прямо сейчас!

								</p>
							</div>

						</div>
						<div class="item image-item">
							<img src="./images/footer-girl.png" alt="img">

						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="footer-wrap">
						<a href="#" class="logo">
							<img src="./images/logo.svg" alt="logo" width="207" height="77">
						</a>
						<nav class="navbar">
							<a href="#" class="active">
								<svg class="svg-icon">
									<use xlink:href='#icon-home'></use>
								</svg>
								<span>
									Главаня
								</span>
								<div class="ellipse"></div>


							</a>
							<a href="#">
								<svg class="svg-icon">
									<use xlink:href='#icon-categories'></use>
								</svg>
								<span>
									Категории
								</span>
								<div class="ellipse"></div>


							</a>
							<a href="#">
								<svg class="svg-icon">
									<use xlink:href='#icon-models'></use>
								</svg>
								<span>
									Модели
								</span>
								<div class="ellipse"></div>


							</a>
							<a href="#">
								<svg class="svg-icon">
									<use xlink:href='#icon-studies'></use>
								</svg>
								<span>
									Студии
								</span>
								<div class="ellipse"></div>


							</a>

						</nav>
						<p class="footer-info">Порно видео отличного качества, доступно для онлайн просмотра на мобильных телефонах андроид, айфон, планшетах и домашних компьютерах. Все голые сиськи для народа на сайте rusporno отвечают требованиям 18 USC 2257.</p>
						<div class="copy-wrap">
							<p class="copy">2015-2024 sweetporno.com</p>
							<p class="copy">Все права защищены.</p>

						</div>
						<div class="footer-light"></div>

					</div>
				</div>

			</div>

		</footer>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

	<script src="js/main.js"></script>
</body>
</html>