<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{pageTitle}}</title>

		<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
		<link rel="icon" href="./favicon.ico" type="image/x-icon">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300..500;1,100..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

		<link rel="stylesheet" type="text/css" href="css/all.css" media="all">
	</head>

	<body>
		{{> icons }}

		<div class="wrapper">
			<header class="header {{ showSearch }}">
				<div class="container">
					<div class="header-wrapper">
						<div class="col">
							<a href="#" class="logo">
								<img src="./images/logo.svg" alt="logo" width="207" height="77">
							</a>
						</div>
						<div class="col second">
							<nav class="navbar">
								<a href="index.html" class="nav-item active-nav" data-id="1">
									<svg class="svg-icon">
										<use xlink:href="#icon-home"></use>
									</svg>
									<span class="nav-text"> Главная </span>
									<div class="ellipse"></div>
								</a>
								<a href="categories.html" class="nav-item" data-id="2">
									<svg class="svg-icon">
										<use xlink:href="#icon-categories"></use>
									</svg>
									<span class="nav-text"> Категории </span>
									<div class="ellipse"></div>
								</a>
								<a href="models.html" class="nav-item" data-id="3">
									<svg class="svg-icon">
										<use xlink:href="#icon-models"></use>
									</svg>
									<span class="nav-text"> Модели </span>
									<div class="ellipse"></div>
								</a>
								<a href="studios.html" class="nav-item" data-id="4">
									<svg class="svg-icon">
										<use xlink:href="#icon-studies"></use>
									</svg>
									<span class="nav-text"> Студии </span>
									<div class="ellipse"></div>
								</a>
							</nav>
						</div>
						<div class="col third">
							<div class="search-box">
								<input type="text" class="search" placeholder="Search...">
								<button class="btn-search">
									<svg class="svg-icon"><use xlink:href="#icon-search"></use></svg>
								</button>
							</div>
						</div>
						<div class="col mobile-box">
							<button type="submit" class="btn-search">
								<svg class="svg-icon"><use xlink:href="#icon-search"></use></svg>
							</button>
							<button type="submit" class="btn-burger">
								<svg class="svg-icon"><use xlink:href="#icon-burger"></use></svg>
							</button>

							<div class="search-box js-search-box">
								<input type="text" class="search" placeholder="Search...">
								<button class="btn-search">
									<svg class="svg-icon"><use xlink:href="#icon-search"></use></svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="mobile-nav">
				<div class="container">
					<div class="wrapper">
						<div class="top-block">
							<div class="col">
								<a href="#" class="logo">
									<img src="./images/logo.svg" alt="logo" width="207" height="77">
								</a>
							</div>
							<div class="col mobile-box">
								<button type="submit" class="btn-close {{showSearch}}">
									<svg class="svg-icon"><use xlink:href="#icon-close"></use></svg>
								</button>
							</div>
						</div>
						<nav>
							<ul>
								<li>
									<a href="#" class="active">
										<svg class="svg-icon">
											<use xlink:href="#icon-home"></use>
										</svg>
										<span> Главная </span>
										<div class="ellipse"></div>
									</a>
								</li>
								<li>
									<a href="#">
										<svg class="svg-icon">
											<use xlink:href="#icon-categories"></use>
										</svg>
										<span> Категории </span>
										<div class="ellipse"></div>
									</a>
								</li>
								<li>
									<a href="#">
										<svg class="svg-icon">
											<use xlink:href="#icon-models"></use>
										</svg>
										<span> Модели </span>
										<div class="ellipse"></div>
									</a>
								</li>
								<li>
									<a href="#">
										<svg class="svg-icon">
											<use xlink:href="#icon-studies"></use>
										</svg>
										<span> Студии </span>
										<div class="ellipse"></div>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			<div class="main">