<div class="thumb-studio">
    <a href="#" class="thumb-link">
        <span class="box-img">
            <img src="{{image}}" class="thumb-img" alt="" />
        </span>
        <span class="description">
            <span class="info">
                <span class="box">
                    <span class="wrap">
                        <span class="value">
                            {{title}}
                        </span>
                    </span>
                </span>
                <span class="box">
                    <span class="wrap">
                        <svg class="svg-icon">
                            <use xlink:href="#icon-camera"></use>
                        </svg>
                        <span class="value">95</span>
                    </span>
                </span>
            </span>
        </span>
    </a>
</div>