<div class="thumb">
    <a href="video.html" class="thumb-link">
        <span class="box-img">
            <img src="{{image}}" class="thumb-img" alt="">
        </span>
        <span class="description">
            <span class="text-wrap">
                <span class="text">{{title}}</span>
            </span>
            <span class="info">
                <span class="box">
                    <span class="wrap">
                        <svg class="svg-icon">
                            <use xlink:href="#icon-eye"></use>
                        </svg>
                        <span class="value">225k</span>
                    </span>
                </span>
                <span class="box">
                    <span class="wrap">
                        <svg class="svg-icon">
                            <use xlink:href="#icon-heart"></use>
                        </svg>
                        <span class="value">87%</span>
                    </span>
                </span>
                <span class="box">
                    <span class="wrap">
                        <svg class="svg-icon">
                            <use xlink:href="#icon-clock"></use>
                        </svg>
                        <span class="value">12:49</span>
                    </span>
                </span>
            </span>
        </span>
    </a>
</div>