// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

.header {
	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 15px;
        position: relative;
	}
	.col {
		.navbar {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2vw;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				svg {
					fill: white;
					width: 18px;
					height: 18px;
				}
				span {
					color: white;
				}
				.ellipse {
					width: 4px;
					height: 4px;
					background: white;
					opacity: 0.5;
					border-radius: 50%;
				}
			}
			.active-nav {
				.svg-icon {
					fill: #ffc01d;
					stroke: #ffc01d;
				}
				.ellipse {
					background: #ffc01d;
				}
			}
		}
	}
	.second {
		display: flex;
		align-items: center;
		gap: 20px;

		.nav-text {
			color: #fff;
			font-family: 'Jost', sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
		.mobile-box {
			display: none;
		}
	}
	.search-box {
        position: relative;

		input {
            width: clamp(100px, 20vw, 371px);
            height: 60px;
            border-radius: 50px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(60, 60, 60, 0.2);
            backdrop-filter: blur(75px);
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 16px 3px 16px 20px;
            color: #fff;
		}
		.btn-search {
			border: 3px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            background: linear-gradient(136deg, rgba(177, 177, 177, 0.32) 5.24%, rgba(54, 53, 103, 0.2) 51.01%), #ffc01d;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 54px;
            height: 54px;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
			svg {
				stroke: white;
				fill: #ffc01d;
				width: 20px;
				height: 20px;
			}

            @media screen and (min-width: 1024px) {
                &:hover {
                    background: linear-gradient(136deg, rgba(177, 177, 177, 0.32) 5.24%, rgba(54, 53, 103, 0.2) 51.01%), #f5c957;
                    svg {
                        fill: #f5c957;
                    }
                }
            }
		}
	}
	.mobile-box {
		display: none;
	}
}
.mobile-nav {
	display: none;
}

.main-header {
	.third {
		width: clamp(100px, 20vw, 371px);
		.search-box {
			display: none;
		}
	}

	.mobile-box {
		.btn-search {
			display: none;
		}
	}
}

@media screen and (max-width: 1023px) {
	.header {
		// margin: 0 5vw;
		.second,
		.third {
			display: none;
		}
		.mobile-box {
			display: flex;
			align-items: center;
			gap: 12px;
			button {
				border: none;
				background: none;
				cursor: pointer;
				svg {
					fill: transparent;
					stroke: white;
					width: 30px;
					height: 30px;
				}
			}

            .search-box {
                position: absolute;
                left: 150%;
                top: 100%;
                width: 100%;
                transition: all .3s ease;
                z-index: 5;

                &.active {
                    left: 0;
                }

                input {
                    width: 100%;
                }
            }
		}
	}
	.mobile-nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(25px);
		z-index: 5;
		.wrapper {
			// width: 90vw;
			margin: 0 auto;
			.top-block {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.col {
					.logo {
						svg {
							width: clamp(150px, 35vw, 250px);
						}
					}
				}
				.mobile-box {
					display: flex;
					align-items: center;
					gap: 12px;
					button {
						border: none;
						background: none;
						cursor: pointer;
						svg {
							fill: transparent;
							stroke: white;
							width: 12px;
							height: 12px;
						}
					}
					.btn-close {
						display: none;
						height: 40px;
						width: 40px;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						background: #262626;
						backdrop-filter: blur(10px);
					}
				}
			}
			nav {
				margin-top: 50px;
				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 50px;
					li {
						a {
							display: flex;
							align-items: center;
							justify-content: center;
							color: white;
							gap: 10px;
							svg {
								fill: white;
								width: 18px;
								height: 18px;
							}
							span {
								color: #fff;
								font-family: 'Jost', sans-serif;
								font-size: clamp(18px, 2vw, 22px);
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}
							.ellipse {
								height: 4px;
								width: 4px;
								border-radius: 50%;
								background: #fff;
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
	}
}
