{{> header pageTitle="Categories"}}

<section class="section">
	<div class="container">
        <div class="category-title">
            <h1>
                <span class="small-text">
                    От
                </span>
                <span class="accent">Классики</span>
                <span class="small-text">
                    до
                </span>
                <span class="accent">
                    Экзотики
                </span>
            </h1>

            <span class="description">
                Все Категории Ваших Фантазий
            </span>

        </div>
		<div class="heading">
			<h2 class="title-name">САМЫЕ ПОПУЛЯРНЫЕ КАТЕГОРИИ</h2>
		</div>

        <div class="top-category">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->

                    <div class="swiper-slide">
                        <div class="top-category-thumb">
                            <a href="#" class="thumb-link">
                                <span class="box-img">
                                    <img class="thumb-img" src="./images/category1.png" alt="">
                                </span>
                                <span class="top-category-description">
                                    <span class="title">Групповуха</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top-category-thumb">
                            <a href="#" class="thumb-link">
                                <span class="box-img">
                                    <img class="thumb-img" src="./images/category2.png" alt="">
                                </span>
                                <span class="top-category-description">
                                    <span class="title">В бане</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top-category-thumb">
                            <a href="#" class="thumb-link">
                                <span class="box-img">
                                    <img class="thumb-img" src="./images/category3.png" alt="">
                                </span>
                                <span class="top-category-description">
                                    <span class="title">ЛЕсби</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading">
			<h2 class="title-name">ВСЕ КАТЕГОРИИ</h2>
		</div>

		<div class="thumbs">
            {{#repeat 1}}
                <div class="col">
                    {{> thumb-category image="./images/category1.png" title="Анал" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category2.png" title="Азиатки" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category3.png" title="БДСМ" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category4.png" title="Бабушки" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category17.png" title="блондинки" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category6.png" title="большие сиськи" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category7.png" title="большой член" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category8.png" title="госпожа" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category9.png" title="Групповой секс" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category10.png" title="двойное проникновение" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category11.png" title="доктор " }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category12.png" title="домашнее" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category13.png" title="жены" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category14.png" title="БДСМ" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category15.png" title="БДСМ" }}
                </div>
                <div class="col">
                    {{> thumb-category image="./images/category16.png" title="БДСМ" }}
                </div>
            {{/repeat}}
		</div>

        {{> pagination}}
	</div>
</section>

{{> footer}}
