{{> header pageTitle="Index"}}

<section class="section">
	<div class="container">
		<div class="heading">
			<h2 class="title-name">НОВЫЕ ВИДЕО</h2>
			<div class="sort-box">
				<div class="sort-box-wrapper">
                    <form action="#" class="sort-form">
                        <div class="form-group">
                            <input type="radio" name="filter" value="new" id="sort-new" checked="checked">
                            <label for="sort-new">
                                Новые
                            </label>

                            <input type="radio" name="filter" value="popular" id="sort-popular">
                            <label for="sort-popular">
                                Популярные
                            </label>

                            <input type="radio" name="filter" value="best" id="sort-best">
                            <label for="sort-best">
                                Лучшие
                            </label>
                        </div>
                    </form>
                </div>
			</div>
		</div>

		<div class="thumbs">
            {{#repeat 10}}
                <div class="col">
                    {{> thumb image="/images/thumb-img2.jpg" title="Brunette bitch in stockings takes rough banging for cheating" }}
                </div>
                <div class="col">
                    {{> thumb image="/images/thumb-img1.jpg" title="Brunette bitch in stockings" }}
                </div>
            {{/repeat}}
		</div>

		<ul class="pagination">
			<li class="prev">
				<span>
					<svg class="svg-icon"><use xlink:href="#icon-arrow-left"></use></svg>
				</span>
			</li>
			<li class="page">
				<span>1</span>
			</li>
			<li class="current">
				<a href="#">2</a>
			</li>
			<li class="page">
				<a href="#">3</a>
			</li>
			<li class="page">
				<a href="#">4</a>
			</li>
			<li class="page">
				<a href="#">5</a>
			</li>
			<li class="page">
				<a href="#">6</a>
			</li>
			<li class="page">
				<a href="#">7</a>
			</li>
			<li class="page">
				<a href="#">8</a>
			</li>
			<li class="page">
				<a href="#">9</a>
			</li>
			<li class="jump">
				<a href="#">...</a>
			</li>
			<li class="last">
				<a href="#">20</a>
			</li>
			<li class="next">
				<a href="#">
					<svg class="svg-icon"><use xlink:href="#icon-angle-right"></use></svg>
				</a>
			</li>
		</ul>
	</div>
</section>

{{> footer}}
