{{> header pageTitle="Index" showSearch="main-header"}}

<section class="section">
	<div class="container">
        <div class="index-title">
            <h1>
                Откройте <span class="accent">мир</span> <span>непревзойденного удовольствия</span>
            </h1>

            <div class="input-block">
                <div class="input">
                    <input type="text" placeholder="Найти порно">
                    <button>
                        <svg class="svg-icon"><use xlink:href="#icon-search"></use></svg>
                    </button>
                </div>
                <div class="search-list">
                    <ul>
                        <li>
                            <div class="message">
                                <span class="accent-list">
                                    Большие сиськи
                                </span>
                                <span>
                                    в масле
                                </span>
                            </div>
                            <div class="arrow">
                                <svg class="svg-icon"><use xlink:href="#icon-arrow-right"></use></svg>

                            </div>

                        </li>
                        <li>
                            <div class="message">
                                <span>
                                    Продемонстрировала свои
                                </span>
                                <span class="accent-list">
                                    большие сиськи
                                </span>
                            </div>
                            <div class="arrow">
                                <svg class="svg-icon"><use xlink:href="#icon-arrow-right"></use></svg>

                            </div>

                        </li>
                        <li>
                            <div class="message">
                                <span>
                                    Брат увидел
                                </span>
                                <span class="accent-list">
                                    большие сиськи
                                </span>
                            </div>
                            <div class="arrow">
                                <svg class="svg-icon"><use xlink:href="#icon-arrow-right"></use></svg>


                            </div>

                        </li>
                        <li>
                            <div class="message">
                                <span>
                                    Обожает
                                </span>
                                <span class="accent-list">
                                    большие сиськи
                                </span>
                            </div>
                            <div class="arrow">
                                <svg class="svg-icon"><use xlink:href="#icon-arrow-right"></use></svg>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
		<div class="heading">
			<h2 class="title-name">НОВЫЕ ВИДЕО</h2>
			<div class="sort-box">
				<div class="sort-box-wrapper">
                    <form action="#" class="sort-form">
                        <div class="form-group">
                            <input type="radio" name="filter" value="new" id="sort-new" checked="checked">
                            <label for="sort-new">
                                Новые
                            </label>

                            <input type="radio" name="filter" value="popular" id="sort-popular">
                            <label for="sort-popular">
                                Популярные
                            </label>

                            <input type="radio" name="filter" value="best" id="sort-best">
                            <label for="sort-best">
                                Лучшие
                            </label>
                        </div>
                    </form>
                </div>
			</div>
		</div>

		<div class="thumbs">
            {{#repeat 10}}
                <div class="col">
                    {{> thumb image="/images/thumb-img2.jpg" title="Жена друга хотела заняться со мной сексом, в итоге" }}
                </div>
                <div class="col">
                    {{> thumb image="/images/thumb-img1.jpg" title="Сводный брат отодрал свою красавицу сестру" }}
                </div>
            {{/repeat}}
		</div>

        {{> pagination}}
	</div>
</section>

{{> footer}}
