{{> header pageTitle="Models"}}

<section class="section">
	<div class="container">
        <div class="title-block">
            <h1 class="accent"> 
                Лучшие 
            </h1>
            <h1>
                &nbsp;порнозвёзды мира
            </h1>
            <span class="description">
                Смотрите, как лучшие сексуальные суперзвезды планеты делают то, что у них получается лучше всего
            </span>
            <span class="mobile-description">
                Все Категории Ваших Фантазий

            </span>
        </div>
		<div class="heading">
			<h2 class="title-name">МОДЕЛИ</h2>
			<div class="sort-box">
				<div class="sort-box-wrapper">
                    <form action="#" class="sort-form">
                        <div class="form-group">
                            <input type="radio" name="filter" value="new" id="sort-new" checked="checked">
                            <label for="sort-new">
                                Все
                            </label>

                            <input type="radio" name="filter" value="popular" id="sort-popular">
                            <label for="sort-popular">
                                Девушки
                            </label>

                            <input type="radio" name="filter" value="best" id="sort-best">
                            <label for="sort-best">
                                Парни
                            </label>
                        </div>
                    </form>
                </div>
			</div>
		</div>

		

        <div class="thumbs thumbs-models">
            {{#repeat 10}}
                <div class="col">
                    {{> thumb-models image="/images/model1.png" title="Luxury Mur" }}
                </div>
                <div class="col">
                    {{> thumb-models image="/images/model2.png" title="Lovita Fate" }}
                </div>
                <div class="col">
                    {{> thumb-models image="/images/model3.png" title="Ryan Keely" }}
                </div>
                <div class="col">
                    {{> thumb-models image="/images/model4.png" title="Lia Lin" }}
                </div>
                <div class="col">
                    {{> thumb-models image="/images/model5.png" title="Kira Perez" }}
                </div>
            {{/repeat}}
            <div class="col">
                {{> thumb-models image="/images/model5.png" title="Kira Perez" }}
            </div>
		</div>

        {{> pagination}}
	</div>
</section>

{{> footer}}
