{{> header pageTitle="Models"}}

<section class="section">
  <div class="container">
    <div class="models-title">
      <h1>
        <span class="accent">Лучшие</span> <span>порнозвёзды мира</span>
      </h1>

      <span class="description">
        Смотрите, как лучшие сексуальные суперзвезды планеты делают то, что у них получается лучше всего
      </span>
    </div>
    <div class="heading">
      <h2 class="title-name">МОДЕЛИ</h2>
      <div class="sort-box">
        <div class="sort-box-wrapper">
          <div class="sort-form" id="list_videos_most_recent_videos_sort_list">
            <div class="form-group">
              <a class="active" data-action="ajax" data-container-id="list_videos_most_recent_videos_sort_list"
                data-block-id="list_videos_most_recent_videos" data-parameters="sort_by:post_date">Новые</a>
              <a data-action="ajax" data-container-id="list_videos_most_recent_videos_sort_list"
                data-block-id="list_videos_most_recent_videos" data-parameters="sort_by:video_viewed">Популярные</a>
              <a data-action="ajax" data-container-id="list_videos_most_recent_videos_sort_list"
                data-block-id="list_videos_most_recent_videos" data-parameters="sort_by:rating">Топовые</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="thumbs thumbs-models">
      <div class="col">
        {{> thumb-models image="./images/model1.png" title="Luxury Mur" subscribed="false" baseSubscribers="765"
        subscribers="96" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model2.png" title="Lovita Fate" subscribed="true" baseSubscribers="766"
        subscribers="87" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model3.png" title="Ryan Keely" subscribed="false" baseSubscribers="1230"
        subscribers="142" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model4.png" title="Lia Lin" subscribed="false" baseSubscribers="892"
        subscribers="76" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model5.png" title="Kira Perez" subscribed="false" baseSubscribers="654"
        subscribers="53" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model1.png" title="Luxury Mur" subscribed="false" baseSubscribers="765"
        subscribers="96" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model2.png" title="Lovita Fate" subscribed="true" baseSubscribers="766"
        subscribers="87" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model3.png" title="Ryan Keely" subscribed="false" baseSubscribers="1230"
        subscribers="142" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model4.png" title="Lia Lin" subscribed="false" baseSubscribers="892"
        subscribers="76" }}
      </div>
      <div class="col">
        {{> thumb-models image="./images/model5.png" title="Kira Perez" subscribed="false" baseSubscribers="654"
        subscribers="53" }}
      </div>
    </div>

    {{> pagination}}
  </div>
</section>

{{> footer}}