{{> header pageTitle="Studios"}}

<section class="section">
	<div class="container">
        <div class="studios-title">
            <h1>
                Порно от лучших
                <span class="accent">
                    студий
                </span>
            </h1>

            <span class="description">
                Смотрите, как лучшие сексуальные суперзвезды планеты делают то, что у них получается лучше всего
            </span>
        </div>

		<div class="heading">
			<h2 class="title-name">Студии</h2>
			<div class="sort-box sort-box-studios">
				<div class="sort-box-wrapper">
                    <form action="#" class="sort-form">
                        <div class="form-group">
                            <input type="radio" name="filter" value="new" id="sort-new" checked="checked">
                            <label for="sort-new">
                                Все
                            </label>

                            <input type="radio" name="filter" value="popular" id="sort-popular">
                            <label for="sort-popular">
                                По алфавиту
                            </label>

                        </div>
                    </form>
                </div>
			</div>
		</div>



        <div class="thumbs thumbs-studios">
            <div class="col">
                {{> thumb-studio image="./images/studio1.png" title="TeamSkeet" subscribed="false" baseSubscribers="2450" videos="128" }}
            </div>
            <div class="col">
                {{> thumb-studio image="./images/studio2.png" title="Brazzers" subscribed="true" baseSubscribers="5670" videos="342" }}
            </div>
            <div class="col">
                {{> thumb-studio image="./images/studio3.png" title="Reality Kings" subscribed="false" baseSubscribers="3890" videos="215" }}
            </div>
            <div class="col">
                {{> thumb-studio image="./images/studio4.png" title="Naughty America" subscribed="false" baseSubscribers="4120" videos="298" }}
            </div>
            <div class="col">
                {{> thumb-studio image="./images/studio1.png" title="TeamSkeet" subscribed="false" baseSubscribers="2450" videos="128" }}
            </div>
            <div class="col">
                {{> thumb-studio image="./images/studio2.png" title="Brazzers" subscribed="true" baseSubscribers="5670" videos="342" }}
            </div>
            <div class="col">
                {{> thumb-studio image="./images/studio3.png" title="Reality Kings" subscribed="false" baseSubscribers="3890" videos="215" }}
            </div>
            <div class="col">
                {{> thumb-studio image="./images/studio4.png" title="Naughty America" subscribed="false" baseSubscribers="4120" videos="298" }}
            </div>
		</div>

        {{> pagination}}
	</div>
</section>

{{> footer}}
