{{> header pageTitle="Studios"}}

<section class="section">
  <div class="container">
    <div class="studios-title">
      <h1>
        Порно от лучших
        <span class="accent">
          студий
        </span>
      </h1>

      <span class="description">
        Смотрите, как лучшие сексуальные суперзвезды планеты делают то, что у них получается лучше всего
      </span>
    </div>

    <div class="heading">
      <h2 class="title-name">Студии</h2>
      <div class="sort-box">
        <div class="sort-box-wrapper">
          <div class="sort-form" id="list_videos_most_recent_videos_sort_list">
            <div class="form-group">
              <a class="active" data-action="ajax" data-container-id="list_videos_most_recent_videos_sort_list"
                data-block-id="list_videos_most_recent_videos" data-parameters="sort_by:post_date">Новые</a>
              <a data-action="ajax" data-container-id="list_videos_most_recent_videos_sort_list"
                data-block-id="list_videos_most_recent_videos" data-parameters="sort_by:video_viewed">Популярные</a>
              <a data-action="ajax" data-container-id="list_videos_most_recent_videos_sort_list"
                data-block-id="list_videos_most_recent_videos" data-parameters="sort_by:rating">Топовые</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="thumbs thumbs-studios">
      <div class="col">
        {{> thumb-studio image="./images/studio1.png" title="TeamSkeet" subscribed="false" baseSubscribers="2450"
        videos="128" }}
      </div>
      <div class="col">
        {{> thumb-studio image="./images/studio2.png" title="Brazzers" subscribed="true" baseSubscribers="5670"
        videos="342" }}
      </div>
      <div class="col">
        {{> thumb-studio image="./images/studio3.png" title="Reality Kings" subscribed="false" baseSubscribers="3890"
        videos="215" }}
      </div>
      <div class="col">
        {{> thumb-studio image="./images/studio4.png" title="Naughty America" subscribed="false" baseSubscribers="4120"
        videos="298" }}
      </div>
      <div class="col">
        {{> thumb-studio image="./images/studio1.png" title="TeamSkeet" subscribed="false" baseSubscribers="2450"
        videos="128" }}
      </div>
      <div class="col">
        {{> thumb-studio image="./images/studio2.png" title="Brazzers" subscribed="true" baseSubscribers="5670"
        videos="342" }}
      </div>
      <div class="col">
        {{> thumb-studio image="./images/studio3.png" title="Reality Kings" subscribed="false" baseSubscribers="3890"
        videos="215" }}
      </div>
      <div class="col">
        {{> thumb-studio image="./images/studio4.png" title="Naughty America" subscribed="false" baseSubscribers="4120"
        videos="298" }}
      </div>
    </div>

    {{> pagination}}
  </div>
</section>

{{> footer}}