{{> header pageTitle="Video"}}

<section class="section">
    <div class="container">
        <div class="video-main-layout">
            <div class="video-content">
            <div class="player-wrap">
                <img src="./images/player.jpg" class="kt-player" alt="player">

                <div class="player-overlay">
                    <button type="button" class="btn-player">
                        <img src="./images/play.svg" alt="Play button" class="play-button">
                    </button>
                </div>
            </div>

            <div class="info-top">
                <div class="headline">
                    <h1 class="title">Приставучая красотка добилась своей цели и пустила мальчика в трусики</h1>
                </div>

                <div class="sharing-container">
                    <ul class="list-btns">
                        <li>
                            <a href="#favorites" class="button">
                                <svg class='svg-icon favorites-icon'>
                                    <use xlink:href='#icon-double-heart'></use>
                                </svg>
                                <span>Избранное</span>
                            </a>
                        </li>
                        <li>
                            <a href="#download" class="button">
                                <svg class='svg-icon download-icon'>
                                    <use xlink:href='#icon-square-arrow-down'></use>
                                </svg>
                                <span>Скачать</span>
                            </a>
                        </li>
                        <li>
                            <a href="#share" class="button">
                                <svg class='svg-icon share-icon'>
                                    <use xlink:href='#icon-square-link'></use>
                                </svg>
                                <span>Поделиться</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="video-description">
                <div class="video-stats">
                    <div class="like-dislike-buttons">
                        <button class="like-btn active">
                            <svg class="like-icon"><use xlink:href="#icon-like"></use></svg>
                            <span class="like-count">5</span>
                        </button>
                        <button class="dislike-btn">
                            <svg class="dislike-icon"><use xlink:href="#icon-dislike"></use></svg>
                        </button>
                    </div>
                    
                    <div class="video-metrics">
                        <div class="metric">
                            <svg class="metric-icon"><use xlink:href="#icon-eye"></use></svg>
                            <span class="metric-value views">92k</span>
                        </div>
                        <div class="metric">
                            <svg class="metric-icon"><use xlink:href="#icon-heart"></use></svg>
                            <span class="metric-value">87%</span>
                        </div>
                        <div class="metric">
                            <svg class="metric-icon"><use xlink:href="#icon-clock"></use></svg>
                            <span class="metric-value">12:49</span>
                        </div>
                    </div>
                </div>

                <div class="description-section">
                    <h3 class="description-title">Описание</h3>
                    <p class="description-text">Горячая десвушка занимается сексом с приятелем своего сына по колледжу, Джимми Майклсом. Она была так занята тем, что ее отсасывал молодой парень, что едва ли знала (или заботилась), какой сегодня день. Когда сын и дочь Эшлин заходят к ней, чтобы сделать сюрприз на День матери, а она в это время занимается сексом с Джимми, она застигнута врасплох и говорит своему приятелю, чтобы он улизнул из дома, пока его не заметили. Однако возбужденный Джимми предпочитает развлекаться тайком и продолжает трахать свою большую натуральную красотку за спинами братьев и сестер - и Эшлин просто не может устоять перед его большим членом! В конце концов, это ее день, и она должна получить то, что действительно хочет!</p>
                </div>
            </div>
            
            <div class="comments-section">
                <div class="comment-form">
                    <textarea class="comment-input" placeholder="Комментарий"></textarea>
                    <button class="comment-submit">
                        <svg class="comment-icon"><use xlink:href="#icon-comment"></use></svg>
                        Оставаить комментарий
                    </button>
                </div>
                
                <div class="comments-list">
                    <div class="comment-item">
                        <div class="comment-avatar">
                            <img src="./images/comment-avatar.png" alt="Валик 20см">
                        </div>
                        <div class="comment-content">
                            <div class="comment-header">
                                <span class="comment-author">Валик 20см</span>
                            </div>
                            <p class="comment-text">Неплохая девчонка, с ней то я бы оторовался, а парень так себе, неумёха, вот я!! Говорила мама иди в порнуху сниматься..</p>
                            <div class="comment-actions">
                                <button class="comment-like active">
                                    <svg class="comment-like-icon"><use xlink:href="#icon-like"></use></svg>
                                    <span class="comment-like-count">5</span>
                                </button>
                                <button class="comment-dislike">
                                    <svg class="comment-dislike-icon"><use xlink:href="#icon-dislike"></use></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="comment-item">
                        <div class="comment-avatar">
                            <img src="./images/comment-avatar.png" alt="Sintepon">
                        </div>
                        <div class="comment-content">
                            <div class="comment-header">
                                <span class="comment-author">Sintepon</span>
                            </div>
                            <p class="comment-text">Нормальные сиськи</p>
                            <div class="comment-actions">
                                <button class="comment-like">
                                    <svg class="comment-like-icon"><use xlink:href="#icon-like"></use></svg>
                                    <span class="comment-like-count">6</span>
                                </button>
                                <button class="comment-dislike active">
                                    <svg class="comment-dislike-icon"><use xlink:href="#icon-dislike"></use></svg>
                                    <span class="comment-dislike-count">1</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="comment-item">
                        <div class="comment-avatar">
                            <img src="./images/comment-avatar.png" alt="Davalka2000">
                        </div>
                        <div class="comment-content">
                            <div class="comment-header">
                                <span class="comment-author">Davalka2000</span>
                            </div>
                            <p class="comment-text">Ничего себе у него аппаратик, сейчас бы с прыгнула с разгону на такую шляпу ухх</p>
                            <div class="comment-actions">
                                <button class="comment-like">
                                    <svg class="comment-like-icon"><use xlink:href="#icon-like"></use></svg>
                                </button>
                                <button class="comment-dislike">
                                    <svg class="comment-dislike-icon"><use xlink:href="#icon-dislike"></use></svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="comment-item">
                        <div class="comment-avatar">
                            <img src="./images/comment-avatar.png" alt="Галимый дрочер">
                        </div>
                        <div class="comment-content">
                            <div class="comment-header">
                                <span class="comment-author">Галимый дрочер</span>
                            </div>
                            <p class="comment-text">Мдаа, какие стервочки нынче, оторва ещё та</p>
                            <div class="comment-actions">
                                <button class="comment-like">
                                    <svg class="comment-like-icon"><use xlink:href="#icon-like"></use></svg>
                                    <span class="comment-like-count">1</span>
                                </button>
                                <button class="comment-dislike">
                                    <svg class="comment-dislike-icon"><use xlink:href="#icon-dislike"></use></svg>
                                </button>
                            </div>
                        </div>
                        </div>

                    <div class="comment-item">
                        <div class="comment-avatar">
                            <img src="./images/comment-avatar.png" alt="Ваня пылесос">
                        </div>
                        <div class="comment-content">
                            <div class="comment-header">
                                <span class="comment-author">Ваня пылесос</span>
                            </div>
                            <p class="comment-text">А мне этот придурок понравился, я бы ему высосал очко!</p>
                            <div class="comment-actions">
                                <button class="comment-like">
                                    <svg class="comment-like-icon"><use xlink:href="#icon-like"></use></svg>
                                    <span class="comment-like-count">1</span>
                                </button>
                                <button class="comment-dislike">
                                    <svg class="comment-dislike-icon"><use xlink:href="#icon-dislike"></use></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                        </div>

                <button class="show-more-comments">
                    Показать ещё
                    <svg class="show-more-icon"><use xlink:href="#arrow-down-circle"></use></svg>
                </button>
                <button class="show-less-comments">
                    Показать меньше
                    <svg class="show-less-icon"><use xlink:href="#arrow-up-circle"></use></svg>
                </button>
            </div>
        </div>
        
        <div class="video-sidebar">
                <div class="sidebar-section">
                    <h3 class="sidebar-title">В ролях</h3>
                    <div class="models-in-video">
                        <div class="model-card">
                            <div class="model-avatar">
                                <img src="./images/model1.png" alt="LuxuryMur">
                            </div>
                            <div class="model-info">
                                <div class="model-name">LuxuryMur</div>
                                <div class="model-videos">
                                    <svg class="video-icon"><use xlink:href="#icon-camera"></use></svg>
                                    <span class="video-count">96</span>
                                </div>
                            </div>
                        </div>
                        <div class="model-card">
                            <div class="model-avatar">
                                <img src="./images/model2.png" alt="Den Baltimor">
                            </div>
                            <div class="model-info">
                                <div class="model-name">Den Baltimor</div>
                                <div class="model-videos">
                                    <svg class="video-icon"><use xlink:href="#icon-camera"></use></svg>
                                    <span class="video-count">162</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-section">
                    <h3 class="sidebar-title">Тэги</h3>
                    <div class="tags-list">
                        <div class="tag-item">
                            <svg class="tag-icon"><use xlink:href="#icon-tag"></use></svg>
                            <span class="tag-text">Красотки</span>
                        </div>
                        <div class="tag-item">
                            <svg class="tag-icon"><use xlink:href="#icon-tag"></use></svg>
                            <span class="tag-text">Огромные жопы</span>
                        </div>
                        <div class="tag-item">
                            <svg class="tag-icon"><use xlink:href="#icon-tag"></use></svg>
                            <span class="tag-text">Большие сиськи</span>
                        </div>
                        <div class="tag-item active">
                            <svg class="tag-icon"><use xlink:href="#icon-tag"></use></svg>
                            <span class="tag-text">Молодые</span>
                        </div>
                        <div class="tag-item">
                            <svg class="tag-icon"><use xlink:href="#icon-tag"></use></svg>
                            <span class="tag-text">Домашнее</span>
                        </div>
                        <div class="tag-item">
                            <svg class="tag-icon"><use xlink:href="#icon-tag"></use></svg>
                            <span class="tag-text">Сперма</span>
                        </div>
                    </div>
                </div>

                <div class="sidebar-section">
                    <h3 class="sidebar-title">Категории</h3>
                    <div class="categories-list">
                        <div class="category-item">
                            <svg class="category-icon"><use xlink:href="#icon-categories"></use></svg>
                            <span class="category-text">Брюнетки</span>
                        </div>
                        <div class="category-item">
                            <svg class="category-icon"><use xlink:href="#icon-categories"></use></svg>
                            <span class="category-text">Групповуха</span>
                        </div>
                        <div class="category-item">
                            <svg class="category-icon"><use xlink:href="#icon-categories"></use></svg>
                            <span class="category-text">В бане</span>
                        </div>
                    </div>
                </div>

                <div class="sidebar-section">
                    <h3 class="sidebar-title">Модели</h3>
                    <div class="sidebar-models">
                        <span class="model-link">Ashlyn Peaks</span>
                        <span class="comma">, </span>
                        <span class="model-link">Jimmy Michaels</span>
                    </div>
                </div>

                <div class="sidebar-section">
                    <h3 class="sidebar-title">Студия</h3>
                    <div class="sidebar-studio">
                        <span class="studio-link">PornHub</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
	<div class="container">
		<div class="heading">
			<h2 class="title-name">ПОХОЖИЕ ВИДЕО</h2>
		</div>

		<div class="thumbs">
            {{#repeat 4}}
                <div class="col">
                    {{> thumb image="./images/thumb-img2.jpg" title="Brunette bitch in stockings takes rough banging for cheating" }}
                </div>
                <div class="col">
                    {{> thumb image="./images/thumb-img1.jpg" title="Brunette bitch in stockings" }}
                </div>
            {{/repeat}}
		</div>

        <div class="show-more">
            <a class="show-more-btn" href="#">
                <svg class='svg-icon '>
                    <use xlink:href='#arrow-down-circle'></use>
                </svg>
                Показать еще
            </a>
        </div>
        <div class="show-less">
            <a class="show-less-btn" href="#">
                <svg class='svg-icon '>
                    <use xlink:href='#arrow-up-circle'></use>
                </svg>
                Показать меньше
            </a>
        </div>
	</div>
</section>

{{> footer}}
