{{> header pageTitle="Video"}}

<section class="section">
    <div class="container">
        <div class="video-wrapper">
            <div class="player-wrap">
                <img src="./images/player.jpg" class="kt-player" alt="player">

                <div class="player-overlay">
                    <button type="button" class="btn-player">
                        <img src="./images/play.svg" alt="Play button" class="play-button">
                    </button>
                </div>
            </div>

            <div class="info-top">
                <div class="headline">
                    <h1 class="title">Приставучая красотка добилась своей цели и пустила мальчика в трусики</h1>
                </div>

                <div class="sharing-container">
                    <ul class="list-btns">
                        <li>
                            <a href="#download" class="button">
                                <svg class='svg-icon download-icon'>
                                    <use xlink:href='#icon-square-arrow-down'/>
                                </svg>
                                <span>Скачать</span>
                            </a>
                        </li>
                        <li>
                            <a href="#download" class="button">
                                <svg class='svg-icon share-icon'>
                                    <use xlink:href='#icon-square-link'/>
                                </svg>
                                <span>Поделиться</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="info-cols">
                <div class="col">
                    <div class="info-cols-top">
                        <div class="text-box">
                            <ul class="list-info">
                                <li>
                                    <svg class="svg-icon">
                                        <use xlink:href="#icon-eye"></use>
                                    </svg>
                                    <span class="value">225k</span>
                                </li>
                                <li>
                                    <svg class="svg-icon">
                                        <use xlink:href="#icon-heart"></use>
                                    </svg>
                                    <span class="value">87%</span>
                                </li>
                                <li>
                                    <svg class="svg-icon">
                                        <use xlink:href="#icon-clock"></use>
                                    </svg>
                                    <span class="value">12:49</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="info-name">Описание:</div>
                        <p itemprop="description" class="text-description">25-летняя брюнетка Amara Romani не обладает большими сиськами и чем-то таким выдающимся, а её главный козырь - умение себя красиво и эффективно подать на камеру. Сегодня девке приходит договор о съемках для студии MOFOS и она, лежа в постели, старается его внимательно читать. Но тут в комнату входит оператор и отвлекает модель от съёмок, шлепнув её по жопе. Сучка заводится с полуоборота и уже собирается скандалить, как перенаправляет страсть на шикарный минет со слюнями и еблю в киску с интимной стрижкой на лобке. Амара действительно знает, что нужно зрителю и любовнику.</p>
                    </div>

                    <div class="row">
                        <div class="inner-row">
                            <div class="info-name">Теги:</div>
                            <ul class="list-btn">
                                <li class="item">
                                    <a href="#" class="btn">
                                        <svg class='svg-icon '>
                                            <use xlink:href='#icon-tag'/>
                                        </svg>
                                        Best Porn
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="btn">
                                        <svg class='svg-icon '>
                                            <use xlink:href='#icon-tag'/>
                                        </svg>
                                        3dXpassion
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="btn">
                                        <svg class='svg-icon '>
                                            <use xlink:href='#icon-tag'/>
                                        </svg>
                                        Natasha Nice
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="btn">
                                        <svg class='svg-icon '>
                                            <use xlink:href='#icon-tag'/>
                                        </svg>
                                        Brazzers
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="btn">
                                        <svg class='svg-icon '>
                                            <use xlink:href='#icon-tag'/>
                                        </svg>
                                        Love Home Porn
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="btn">
                                        <svg class='svg-icon '>
                                            <use xlink:href='#icon-tag'/>
                                        </svg>
                                        Best Porn
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="btn">
                                        <svg class='svg-icon '>
                                            <use xlink:href='#icon-tag'/>
                                        </svg>
                                        3dXpassion
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="inner-row second">
                            <div class="info-name">Модель:</div>

                            <ul class="list-link">
                                <li class="item">
                                    <a href="#">Best Porn</a>,
                                </li>
                                <li class="item">
                                    <a href="#">3dXpassion</a>
                                </li>
                            </ul>
                        </div>
                        <div class="inner-row second">
                            <div class="info-name">Студия:</div>

                            <ul class="list-link">
                                <li class="item">
                                    <a href="#">Brazers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
	<div class="container">
		<div class="heading">
			<h2 class="title-name">ПОХОЖИЕ ВИДЕО</h2>
		</div>

		<div class="thumbs">
            {{#repeat 4}}
                <div class="col">
                    {{> thumb image="./images/thumb-img2.jpg" title="Brunette bitch in stockings takes rough banging for cheating" }}
                </div>
                <div class="col">
                    {{> thumb image="./images/thumb-img1.jpg" title="Brunette bitch in stockings" }}
                </div>
            {{/repeat}}
		</div>

        <div class="show-more">
            <a class="show-more-btn" href="#">
                <svg class='svg-icon '>
                    <use xlink:href='#icon-square-double-angle-down'/>
                </svg>
                Показать еще
            </a>
        </div>
	</div>
</section>

{{> footer}}
