// fonts
@import "includes/fonts";
// @include font-face('Ico Moon', '../fonts/icomoon', normal, normal);

// variables
@import "includes/variables";

// custom mixins
@import "includes/mixins";

// res css
@import "includes/res";
// @import "includes/normalize";

// media quaries
@import "includes/media-queries";

html{
	height:100%;
	min-width:320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{
	font: #{$site_font_size}/#{$site_line_height} $default_font;
	// min-height:100%;
	height: 100%;
	min-width:320px;
	position:relative;
	color:$body_color;
	background:$body_bg;
	background: #000;
}
a{
	color:$link_color;
	text-decoration:none;
	// &:hover{
	// 	text-decoration:underline;
	// 	color:$link_hover_color;
	// }
}

input{
	outline:none;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

*{
	outline: none;
}
* {
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
	@include selection {
		background: $selection_bg; color: $selection_color;
	}
}
//ico
// *[class*=ico_]{
// 	display:inline-block;
// 	vertical-align:top;
// 	background:url(../images/sprite@320.png) no-repeat;
// 	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
// 		background:url(../images/sprite2x.png) no-repeat;
// 		background-size: 0px 0px; // width and height sprite320
// 	}
// }

//placeholder cross-browser
input, textarea {
	@include placeholder {color: $placeholder_color;}
	&.placeholder {color: $placeholder_color !important;}
}
// separator
// @extend %separator;
%separator {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
	&:before {
		content: '|';
		padding-right: 10px;
		color: #000;
	}
	&:first-child {
		padding-left: 0;
		&:before {
			display: none;
			padding-right: 0;
		}
	}
}

// clearfix
// @extend %clearfix;
%clearfix {
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.col-disabled {
	display: none;
}

.wrapper{
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}
.index-title{
	text-align: center;
	margin-bottom: 40px;
	h1{
		margin-top: 4vw;
		display: inline-block;
		color: #FFF;
		text-align: center;
		// leading-trim: both;
		// text-edge: cap;
		font-family: Jost-regular;
		font-size: clamp(35px, 5vw, 100px);
		// font-size: 100px;
		font-style: normal;
		font-weight: 300;
		line-height: 70px; /* 70% */
	}
	.accent{
		color: #FFC01D;
		// leading-trim: both;
		// text-edge: cap;
		font-family: Jost-medium;
		// font-size: 100px;
		font-size: clamp(35px, 5vw, 100px);

		font-style: normal;
		font-weight: 600;
		line-height: 70px;
		text-transform: uppercase;


	}
	span{
		display: block;
		color: #FFF;
		font-family: Jost;
		font-size: clamp(16px, 2vw, 28px);
		font-style: normal;
		font-weight: 400;
		line-height: 70px;
		text-transform: uppercase;
		margin-bottom: 2vw;
	}
	.input-block{
		position: relative;
		.input{
			position: relative;
			width: clamp(320px, 40vw, 688px);
			margin: 0 auto;
			input{
				color: #FFF;
				font-family: "SF Pro Display";
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%; /* 24px */
				border-radius: 50px;
				border: 1px solid rgba(255, 255, 255, 0.10);
				background: rgba(60, 60, 60, 0.20);
				backdrop-filter: blur(75px);
				padding: 16px 20px;
				width: 100%;
			}
			button{
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #FFC01D;
				border: 1px solid rgba(255, 255, 255, 0.2);
				border-radius: 50%;
				width: 40px;
				height: 40px;
				transform: translate(-30%, 20%);
				cursor: pointer;
				position: absolute;
				top: 0;
				right: 0;
				svg{
					stroke: white;
					fill: #FFC01D;
					width: 20px;
					height: 20px;
				}
			}
			
		}
		.search-list{
			display: none;
			position: absolute;
			top: 100%;
			z-index: 5;
			border-radius: 20px;
			border: 1px solid rgba(255, 255, 255, 0.10);
			background: rgba(60, 60, 60, 0.80);
			width: clamp(320px, 40vw, 688px);
			backdrop-filter: blur(75px);
			margin-top: 5px;
			left: 50%;
			padding: 8px;
			transform: translateX(-50%);
			ul{
				display: flex;
				flex-direction: column;
				justify-self: flex-start;
				gap: 10px;
				li{
					display: flex;
					justify-content: space-between;
					padding: 0 12px;

					cursor: pointer;
					.message{
						text-align: left;
						span{
							color: rgba(255, 255, 255, 0.50);
							font-family: "SF Pro Display";
							font-size: clamp(12px, 2vw, 16px);
							font-style: normal;
							font-weight: 400;
							line-height: 150%;
							display: inline-block;
						}
						.accent-list{
							color: #FFF;
						}
					}
					
				}
				li:hover{
					border-radius: 50px;
					background: #595959;

				}
			}

		}
		.search-list-active{
			display: block;
		}
		@media screen and (max-width: 1024px) {
			.search-list{
				width: clamp(310px, 80vw, 688px);
			}
		}
		
	}
}
.title-block{
	text-align: center;
	margin: 70px auto 30px;
	.accent{
		color: #FFC01D;
	}
	h1{
		display: inline-block;
		color: #FFF;
		font-family: Jost-medium;
		font-size: clamp(30px, 5vw, 72px);
		font-style: normal;
		font-weight: 500;
		line-height: normal;

	}
	span{
		max-width: 50%;
		margin: 0 auto;
		color: #FFF;
		text-align: center;
		font-family: Jost-regular;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

	}
	.mobile-description{
		display: none;
	}
	@media screen and (max-width: 1024px) {
		.description{
			display: none;
		}

		.mobile-description{
			display: block;
			max-width: 100%;
			padding-top: 10px;
			color: #969696;
		}

		
	}
}
.category-title{
	text-align: left;
	margin: 60px auto 80px;
	.small-text{
		display: inline-block;
		color: #FFF;
		font-family: "Jost", sans-serif;
		font-size: clamp(18px, 5vw, 33px);
		// font-size: 33px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.accent{
		display: inline-block;
		color: #FFC01D;
		font-family: "Jost", sans-serif;
		font-size: clamp(32px, 5vw, 72px);
		// font-size: 72px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.description{
		padding: 0;
		display: block;
		color: #969696;
		font-family: "Jost", sans-serif;
		font-size: clamp(18px, 5vw, 26px);
		// font-size: 26px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}
@media screen and (max-width: 1024px) {
	.category-title{
		margin: 5vw auto 6vw;
	}
	
}

.container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 10px;
}

h2 {
	color: #FFF;
	font-family: "Jost", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}



// template css
@import "templates/pagination";

// template css
@import "templates/header";

// template css
@import "templates/main";

// template css
@import "templates/footer";

// template css
@import "templates/video";